html, body {
	margin: 0;
	height: 100%;
}

* {
	box-sizing: border-box
}

h1 {
	padding: 20px 0 10px;
	.color-anim{
		animation: colors 3s infinite;
	}
}

h1 + h2 {
	padding-bottom: 60px;
	font-size: 20px;
	max-width: 470px;
}

h6 {
	padding-bottom: 20px;
	color: #999999 !important;
}

.single-memory-card {

	height: 200px;
	border: 1px solid #A0A0A0;
	border-radius: 3px;
	margin-bottom: 30px;
	cursor: pointer;
	position: relative;
	overflow: hidden;

	&:after {
		height: 100%;
		width: 100%;
		content: '?';
		font-family: serif;
		text-align: center;
		font-size: 72px;
		line-height: 200px;
		color: #A0A0A0;
		position: absolute;
		top: 0;
		left: 0;
		transition: .3s;
		background: #EEEEEE;
	}

	&.show {
		&:after {
			transform: translateY(-100%);
		}
	}

	&:hover{
		&:after{
			animation: colors 3s infinite;
			background: #F8F8F8;
		}
	}

}

.cards-container {
	padding-bottom: 200px;
}

.win-modal {

	height: 300px;
	width: 80%;
	position: fixed;
	top: calc(50vh - 150px);
	left: 10%;
	display: flex;
	align-items: center;
	text-align: center;
	border-radius: 3px;
	background: #EEEEEE;
	justify-content: center;
	flex-direction: column;

	h2 {
		margin-bottom: 40px;
	}

	button {
		-webkit-appearance: none;
		color: white;
		padding: 10px 40px;
		background-color: cornflowerblue;
		border: none;
		border-radius: 3px;
	}

}

@keyframes colors {
	@for $i from 0 through 100 {
		#{$i}% {
			color: hsl(($i * 3.6), 70%, 50%);
		}
	}
}